:root {
    --bannerSize: 5px;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

#bannerGrid {
    display: grid;
    width: 100%;

    grid-auto-flow: column;
    justify-content: stretch;
}

#bannerGrid > div { /* this is important, use this ">" commonly */
    background-color: #000000;

    border-style: solid;
    border-width: var(--bannerSize);
}

    #bannerGrid > div:hover {
        background-color: #333333;
        border-color: #333333;

        transition: all 150ms;
    }

    #bannerGrid > div > p {
        color: #ffffff;

        text-align: center;
        text-transform: uppercase;
    }

    #bannerGrid > .columnStart {
        border-radius: var(--bannerSize) 0 0 var(--bannerSize);
    }

    #bannerGrid > .columnEnd {
        border-radius: 0 var(--bannerSize) var(--bannerSize) 0;
    }