body {
    margin: 0;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 5%;
}

#bannerFlex {
    background-color: #000000;
    width: 100%;

    display: flex;
}

#bannerFlex > div {
    background-color: #000000;
    width: 10%;
}

    #bannerFlex > div:hover {
        background-color: #333333;
        transition: all 150ms;
    }

    #bannerFlex > div p {
        color: #ffffff;

        text-align: center;
        text-transform: uppercase;
    }


#bodyContainer {
    background-color: #333333;
}